body{
    background-color: #f5f5f5;
}
header{
    display: block;
    background-color: #011e29;
    text-align:center;
    color: white;
    height: 55px;
    font-size: 30px;
    padding-top: 15px;
}
.section{
    display: flex;
    align-content: space-between;
    
}
.latest-news-section{
   text-align: left;
   border: 1px solid black;
}
.main{
    text-align: center;
    border: 1px solid black;
}
..pictorial-news-section{
    text-align: right;
    border: 1px solid black;
}